* {
  box-sizing: border-box;
}
body {
  background-color: green;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
